.alert {
    padding: 17px;
    border-radius: 10px;
    background-color: #CB473D;
    color: white;
    margin-bottom: 10px;
    animation: fadeIn 0.2s ease-in-out;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: .3s;
}

.closebtn:hover {
    color: black;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}