.up-login-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    border: #2a3b47 solid 2px;
    background-color: #1c2b36;
    border-radius: 20px;
    color: #e3eef2;
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.login-forms {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group>input {
    background-color: #e3eef2;
    border: 2px solid #2a3843;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    font-size: 16px;
}

.form-group>label {
    margin-left: 4px
}

.help-login-card {
    display: flex;
    justify-content: space-around;
}

.submit-input {
    margin-top: 18px;
}