.div-user {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 10px;
}

.username-bio {
    display: felx;
    flex-direction: column;
    color: #e3eef2;
}

.username {
    color: #e3eef2;
    font-size: 30px;
    margin-left: 35px;
    margin-top: 7px;
}

.username-bio p {
    color: #e3eef2;
    white-space: pre-wrap;
    font-size: 20px;
    margin-left: 35px;
    margin-top: 7px;
}

.avatar-user {
    border-radius: 50%;
    vertical-align: middle;
    margin-bottom: 10px;
}

.div-edits {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-left: 7px;
    margin-bottom: 9px;
}

/* Above Separator */

.separator {
    margin: 5px 7px 7px 7px;
}

/* Below Separator */

.cs-card {
    width: 200px;
}

.cs-title {
    width: 100%;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #e3eef2;
}

.cs-card-image {
    height: 200px;
    width: 200px;
    border: 3px solid #2a3843;
    border-radius: 10px;
}

.image {
    border-radius: 10px;
}

.container-of-cards {
    display: grid;
    place-items: start;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
    margin-top: 20px;
}

/* Overlays */

.overlay-bio::-webkit-scrollbar {
    display: none;
}

.overlay-bio {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 1000;
    border-radius: 7px;
    padding: 0 5px 8px 5px;
    border: 2px solid #2a3843;
    height: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #1c2b36;
    color: #e3eef2
}

.overlay-bio textarea {
    width: 100%;
    height: 57px;
    resize: none;
}

@media screen and (min-width: 200px) {
    .overlay-bio {
        width: 200px;
    }
}

@media screen and (min-width: 400px) {
    .overlay-bio {
        width: 300px;
    }
}

@media screen and (min-width: 600px) {
    .overlay-bio {
        width: 400px;
    }
}

@media screen and (min-width: 800px) {
    .overlay-bio {
        width: 500px;
    }
}

.overlay-avatar {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 1000;
    border-radius: 7px;
    padding: 0 5px 8px 5px;
    border: 2px solid #2a3843;
    height: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #1c2b36;
    color: #e3eef2
}

.overlay-avatar::-webkit-scrollbar {
    display: none;
}

.overlay-avatar>input {
    margin-bottom: 5px;
}

.close-overlay-btn {
    position: absolute;
    line-height: 0;
    top: 20px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}

.drag-overlay-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 0;
    font-size: 40px;
    cursor: move;
}